<title>Lux (bank)Report Store</title>
<h1>Lux Research</h1>
<p>Imagine that this is the marketing web site</p>
<p><a href="http://shopping.sandbox.netsuite.com/lux/">Lux Research Report Store</a></p>
